---
import Layout from '../layouts/Layout.astro';
import Accordion from '../components/Accordion.astro';
import Collapse from '../components/Collapse.astro';
import Tabs from '../components/Tabs.astro';
import ScrollSpy from '../components/ScrollSpy.astro';
import MegaMenu from '../components/MegaMenu.astro';
import Dropdown from '../components/Dropdown.astro';
import Modal from '../components/Modal.astro';
import Offcanvas from '../components/Offcanvas.astro';
import Sidebar from '../components/Sidebar.astro';
import Popover from '../components/Popover.astro';
import Tooltip from '../components/Tooltip.astro';
import RemoveElement from '../components/RemoveElement.astro';
import Home from '../components/Home.astro';
---

<Layout title="Preline - Astro">
	<main>
		<div class="mb-8">
		<!-- 	<h2 class="mb-4">MegaMenu</h2> -->
			<MegaMenu />
		</div>

				<div class="mb-8">
		<!-- 	<h2 class="mb-4">MegaMenu</h2> -->
			<Home />
		</div>

	</main>
</Layout>

<style>
	main {
		padding: 1rem;
	}
</style>